@charset "UTF-8";

#moviegrid{
	display: inline-grid;
	grid-template-columns: 190px 190px 190px 190px;
}

figure{
	width:30%;
}

.errordiv {
	background-color: red;
	color: white;
}

img {
	text-decoration: underline;
}