<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>WGDMS homepage</title>
	<link rel="stylesheet" href="../homepage.css">
	</head>
	
	<body>
		<form id="movietitleform" action="/textsubmission" method="POST">
			enter space separated movie titles<br>
			<input name="movies" type="text"><br>
			<input type="submit" value="submit">
		</form><br>
	
		<form id="moviefileform" action="/filesubmission" method="POST" enctype="multipart/form-data">
			<label for="fileuploadarea">Or provide a .txt file to parse from</label><br>
			<input type="file" name="file" id="fileuploadarea">
			<input type="submit" value="submit">		
		</form>
		<div id="moviegrid" name="moviegrid">
			<figure th:each="poster, iter: ${recommendationposters}">
				<img th:src="${poster}" alt="no poster">
				<figcaption th:text="${recommendations[iter.index]}"></figcaption>
			</figure>
		</div>
	</body>
</html>